<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X Marketing</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/proyecto/index.html">Home</a></li>
                <li><a href="Academia.html">Academia</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
                <li><a href="Aulas.html">Aulas</a></li>
            </ul>
        </nav>
    </header>
  
    <main>
        <h1></h1>
        <form action="" method="">
            <label for="nombre"><strong>Nombre</strong><br></label>
            <input type="text" name="Nombre" value="Nombre" id="nombre">
            <br>

            <label for="apellido"><strong>Apellido</strong><br></label></label>
            <input type="text" name="apellido" value="apellido" id="apellido">
            <br>
            <br>
            <label for="fecha"><strong>Fecha de Nacimiento</strong><br></label></label>
            <input type="date" name="fecha" id="fecha">
            <br>
            <br>
            <label for="email"><strong>Email</strong><br></label></label>
            <input type="text" name="email" value="email" id="email">
            <br>
            <br>
            <fieldset>
                <legend><strong>Servicios</strong></legend>
                <label for="Diseño Web">Diseño Web</label>
                <input type="radio" name="Diseño Web" id="Diseño Web">
                <label for="Publicidad">Publicidad</label>
                <input type="radio" name="Publicidad" id="Publicidad">
                <label for="Community Manager">Community Manager</label>
                <input type="radio" name="Community Manager" id="Community Manager">
                <label for="Otro">Otro</label>
                <input type="radio" name="Otro" id="Otro">
            </fieldset>
            <br>
            
            <fieldset>
                <legend>Cantidad de empleados</legend>
                <select name="Cantidad-de-empleados" id="Tamaño">
                    <option value="2 a 5" id="2 a 5">2 a 5</option>
                    <option value="5 a 10" id="5 a 10">5 a 10</option>
                    <option value="10 o más" id="10 o más">10 o más</option>
                </select>
            </fieldset>
            <br>
            <fieldset>
                <legend>Muestranos imagenes de tu emprendimiento</legend>
                <input type="file" id="image_business">
            </fieldset>
            <br>                   
            <fieldset>
                <label for="Mensaje">Mensaje Adicional:</label>
                <br>
                <textarea name="Mensaje" id="message" cols="30" rows="10"></textarea>
            </fieldset>
            <br>
            <input type="submit" value="Enviar">
        </form>

        
        

    </main>
    <footer></footer>
</body>
</html>